body {
    background-color: #333333;
    display: flex;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}

div {
    padding: 10px;
    width: 200px;
}

a {
    font-size: 18px;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
}

p {
    margin: 0px;
}

.underline {
    border-bottom: 1px dashed lightgreen;
}

.first {
    border-top: 1px dashed lightgreen;
}

a:hover {
    animation-name: hover_link;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}

@keyframes hover_link {
    0% {color: aliceblue;}
    50% {color: #c0eec0;}
    100% {color: aliceblue;}
}

.campaign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choice_list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

table, td {
    background-color: white;
    border: 1px solid black;
    color: #55dd55;
}

table {
    border-collapse: collapse;
}

table tr:hover {
    opacity: 0.7;
}

input {
    border-radius: 25px;
    border: 1px solid lightgreen;
}

input:hover {
    border: 1px solid #70ff70;
}

input[type="submit"] {
    width: 50px;
}

input[type="range"] {

}

input[type="submit"]:hover {
    -webkit-box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 1);
    background-color: #dddddd;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: lightgreen;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid lightgreen;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius:17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 1px;
    top: 1px;
    background-color: #333;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: lightgreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px lightgreen;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

#confirm {
    width: 70px;
}

#show_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 50px;
    margin-bottom: 50px;
}

#show_return {
    margin-top: 50px;
}