<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <script src="/scripts.js"></script>
</head>
<body>
    <form action="edit_campaign" method="post" class="campaign">
        <div>
            <label for="id">Campaign id:</label>
            <input type="number" id="id" name="id" required>
        </div>
        <div class="underline first">
            <label for="name">Campaign name: </label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="underline choice_list">
            <label>Please select keywords: </label>
            <p> Health <input type="checkbox" name="keywords" value="Health"> </p>
            <p> Sport <input type="checkbox" name="keywords" value="Sport" > </p>
            <p> Science<input type="checkbox" name="keywords" value="Science"> </p>
            <p> Business<input type="checkbox" name="keywords" value="Business"> </p>
            <p> Technology<input type="checkbox" name="keywords" value="Technology"> </p>
            <p> Fashion<input type="checkbox" name="keywords" value="Fashion"> </p>
            <p> Other<input type="checkbox" name="keywords" value="Other"> </p>
        </div>
        <div class="underline">
            <label for="bid"> Bid amount: </label>
            <input type="number" id="bid" name="bid" min="100" required>
        </div>
        <div class="underline">
            <label for="funds"> Campaign found: </label>
            <input type="number" id="funds" name="funds" required>
        </div>
        <div class="underline">
            Status(off/on):
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <div class="underline">
            <label for="town"> Towns: </label>
            <input list="town" placeholder="Search" name="town" required>
            <datalist id="town">
                <option>London</option>
                <option>Berlin</option>
                <option>Warsaw</option>
                <option>Moscow</option>
                <option>Barcelona</option>
                <option>Madrid</option>
                <option>Frankfurt</option>
                <option>Rome</option>
                <option>Amsterdam</option>
                <option>Athens</option>
                <option>Oslo</option>
                <option>Zagreb</option>
            </datalist>
        </div>
        <div class="underline">
            <label for="radius"> Radius: </label>
            <input type="range" min="10" max="99" value="50" id="radius" name="radius" oninput="this.nextElementSibling.value = this.value" required>
            <output>50</output>
        </div>
        <div class="underline">
            <input type="submit" value="Edit">
        </div>
    </form>
</body>
</html>